<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.git.modules.clm.rcm.mapper.RcmIndexMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="rcmConfigurationBaseResultMap" type="org.git.modules.clm.rcm.entity.RcmIndex">
        <id column="QUOTA_INDEX_NUM" property="quotaIndexNum"/>
        <result column="QUOTA_INDEX_NAME" property="quotaIndexName"/>
        <result column="QUOTA_TYPE" property="quotaType"/>
        <result column="QUOTA_INDEX_TYPE" property="quotaIndexType"/>
        <result column="EXPLAIN_INFO" property="explainInfo"/>
        <result column="USER_NUM" property="userNum"/>
        <result column="ORG_NUM" property="orgNum"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="QUOTA_INDEX_STATE" property="quotaIndexState"/>
    </resultMap>


    <select id="selectRcmConfigurationBasePage" resultMap="rcmConfigurationBaseResultMap">
        select * from tb_rcm_index where 1 = 1 and is_deleted = 0
    </select>

    <update id="updateState">
        update tb_rcm_index
            set user_num = #{rcmConfigurationBaseVO.userNum},
                 org_num = #{rcmConfigurationBaseVO.orgNum},
                 update_time = #{rcmConfigurationBaseVO.updateTime},
                 quota_index_state  = #{rcmConfigurationBaseVO.quotaIndexState}
        where quota_index_num = #{rcmConfigurationBaseVO.quotaIndexNum}
    </update>

</mapper>
