<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.git.modules.clm.rcm.mapper.RcmRelationQuotaDetailRptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="rcmRelationQuotaDetailRptResultMap" type="org.git.modules.clm.rcm.entity.RcmRelationQuotaDetailRpt">
        <id column="INFO_NUM" property="infoNum"/>
        <result column="CUSTOMER_NAME" property="customerName"/>
        <result column="CUSTOMER_NUM" property="customerNum"/>
        <result column="CRD_BALANCE" property="crdBalance"/>
        <result column="CRD_RATIO" property="crdRatio"/>
        <result column="CRD_BALANCE_LAST_MONTH" property="crdBalanceLastMonth"/>
        <result column="GROUP_CUS_NAME" property="groupCusName"/>
        <result column="GROUP_CUS_NUM" property="groupCusNum"/>
        <result column="GROUP_CRD_BALANCE" property="groupCrdBalance"/>
        <result column="GROUP_CRD_RATIO" property="groupCrdRatio"/>
        <result column="GROUP_CRD_BALANCE_LAST_MONTH" property="groupCrdBalanceLastMonth"/>
        <result column="TOTAL_MONTH" property="totalMonth"/>
        <result column="TOTAL_YEAR" property="totalYear"/>
        <result column="USE_ORG_NUM" property="useOrgNum"/>
        <result column="USER_NUM" property="userNum"/>
        <result column="ORG_NUM" property="orgNum"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UDPATE_TIME" property="udpateTime"/>
        <result column="REMARK" property="remark"/>
    </resultMap>


    <select id="selectRcmRelationQuotaDetailRptPage" resultMap="rcmRelationQuotaDetailRptResultMap">
        select * from TB_RCM_RELATION_QUOTA_DETAIL where is_deleted = 0
    </select>

</mapper>
