<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.git.modules.clm.customer.mapper.CsmCertInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="csmCertInfoResultMap" type="org.git.modules.clm.customer.entity.CsmCertInfo">
        <id column="cert_id" property="certId"/>
        <result column="customer_num" property="customerNum"/>
        <result column="customer_num" property="customerNum"/>
        <result column="cert_flag" property="certFlag"/>
        <result column="cert_type" property="certType"/>
        <result column="cert_num" property="certNum"/>
        <result column="issued_inst" property="issuedInst"/>
        <result column="cert_start_date" property="certStartDate"/>
        <result column="cert_end_date" property="certEndDate"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <select id="selectCsmCertInfoPage" resultMap="csmCertInfoResultMap">
        select * from TB_CSM_CERT_INFO where is_deleted = 0
    </select>

</mapper>
