<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.git.modules.clm.customer.mapper.CsmIndividualMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="csmIndividualResultMap" type="org.git.modules.clm.customer.entity.CsmIndividual">
        <id column="customer_num" property="customerNum"/>
        <result column="customer_num" property="customerNum"/>
        <result column="customer_type" property="customerType"/>
        <result column="cust_status" property="custStatus"/>
        <result column="cust_name" property="custName"/>
        <result column="pinyin_name" property="pinyinName"/>
        <result column="gender" property="gender"/>
        <result column="nation" property="nation"/>
        <result column="race" property="race"/>
        <result column="birth_date" property="birthDate"/>
        <result column="poli_status" property="poliStatus"/>
        <result column="marr_status" property="marrStatus"/>
        <result column="emp_stat" property="empStat"/>
        <result column="house_cicts" property="houseCicts"/>
        <result column="house_type" property="houseType"/>
        <result column="healthy_status" property="healthyStatus"/>
        <result column="family_num" property="familyNum"/>
        <result column="education" property="education"/>
        <result column="high_acade_degree" property="highAcadeDegree"/>
        <result column="cust_manager_no" property="custManagerNo"/>
        <result column="work_unit_name" property="workUnitName"/>
        <result column="work_industry" property="workIndustry"/>
        <result column="unit_character" property="unitCharacter"/>
        <result column="duty" property="duty"/>
        <result column="occupation1" property="occupation1"/>
        <result column="occupation2" property="occupation2"/>
        <result column="occupation3" property="occupation3"/>
        <result column="occupation_explain" property="occupationExplain"/>
        <result column="tech_tiyle_level" property="techTiyleLevel"/>
        <result column="pay_credit_flag" property="payCreditFlag"/>
        <result column="is_blank_flag" property="isBlankFlag"/>
        <result column="employee_flag" property="employeeFlag"/>
        <result column="agri_related_ind" property="agriRelatedInd"/>
        <result column="seior_execu_ind" property="seiorExecuInd"/>
        <result column="rel_party_ind" property="relPartyInd"/>
        <result column="per_year_income" property="perYearIncome"/>
        <result column="tax_res_type" property="taxResType"/>
        <result column="resid_situat" property="residSituat"/>
        <result column="cust_grade" property="custGrade"/>
        <result column="cust_satis" property="custSatis"/>
        <result column="per_total_asset" property="perTotalAsset"/>
        <result column="liability_balance" property="liabilityBalance"/>
        <result column="per_assest_type" property="perAssestType"/>
        <result column="per_liab_type" property="perLiabType"/>
        <result column="resid_non_resid" property="residNonResid"/>
        <result column="created_ts" property="createdTs"/>
        <result column="last_updated_org" property="lastUpdatedOrg"/>
        <result column="last_updated_te" property="lastUpdatedTe"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <select id="selectCsmIndividualPage" resultMap="csmIndividualResultMap">
        select * from TB_CSM_INDIVIDUAL where is_deleted = 0
    </select>

    <select id="selectCsmIndividualPageByCustNum" resultType="org.git.modules.clm.customer.vo.CsmIndividualVO">
        select
            t1.CUSTOMER_NUM, --客户编号
            t1.cust_name, --客户名称
            t1.GENDER, --性别
            t1.NATION, --国籍
            t1.RACE, --民族
            t1.EDUCATION, --最高学历
            t1.high_acade_degree, --最高学位
            t1.agri_related_ind, --是否涉农
            t1.occupation3, --职业3
            t1.marr_status, --婚姻状况
            t1.healthy_status, --健康状况
            t1.cust_grade, --客户等级
            t2.CERT_NUM, --证件号码
            t2.CERT_TYPE --证件类型
        from
            TB_CSM_INDIVIDUAL t1
        left join
            TB_CSM_CERT_INFO t2
        on
            t1.CUSTOMER_NUM = t2.CUSTOMER_NUM
        where
            t1.CUSTOMER_NUM = #{customerNum}
    </select>

</mapper>
