<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.git.modules.clm.customer.mapper.CsmPartyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="csmPartyResultMap" type="org.git.modules.clm.customer.entity.CsmParty">
        <id column="CUSTOMER_NUM" property="customerNum"/>
        <result column="CUSTOMER_NUM" property="customerNum"/>
        <result column="CUSTOMER_NUM" property="customerNum"/>
        <result column="CUSTOMER_NUM" property="customerNum"/>
        <result column="CUSTOMER_NUM" property="customerNum"/>
        <result column="CUSTOMER_NUM" property="customerNum"/>
        <result column="IS_BANK_REL" property="isBankRel"/>
        <result column="CUSTOMER_TYPE" property="customerType"/>
        <result column="CUSTOMER_NAME" property="customerName"/>
        <result column="IF_DATA_MOVE" property="ifDataMove"/>
        <result column="GRADE" property="grade"/>
        <result column="TRAN_SYSTEM" property="tranSystem"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>


    <select id="selectCsmPartyPage" resultMap="csmPartyResultMap">
        select * from TB_CSM_PARTY where is_deleted = 0
    </select>

</mapper>
