<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.git.modules.clm.credit.mapper.FundAdmitMainMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="fundAdmitMainResultMap" type="org.git.modules.clm.credit.entity.FundAdmitMain">
        <id column="EVENT_MAIN_ID" property="eventMainId"/>
        <result column="EVENT_MAIN_ID" property="eventMainId"/>
        <result column="EVENT_MAIN_ID" property="eventMainId"/>
        <result column="EVENT_MAIN_ID" property="eventMainId"/>
        <result column="EVENT_MAIN_ID" property="eventMainId"/>
        <result column="EVENT_MAIN_ID" property="eventMainId"/>
        <result column="TRAN_SEQ_SN" property="tranSeqSn"/>
        <result column="TRAN_SEQ_SN" property="tranSeqSn"/>
        <result column="TRAN_SEQ_SN" property="tranSeqSn"/>
        <result column="TRAN_DATE" property="tranDate"/>
        <result column="BUSI_DEAL_NUM" property="busiDealNum"/>
        <result column="TRAN_TYPE_CD" property="tranTypeCd"/>
        <result column="TRAN_EVENT_STATUS" property="tranEventStatus"/>
        <result column="TRAN_EVENT_INFO" property="tranEventInfo"/>
        <result column="TRAN_ACCT_STATUS" property="tranAcctStatus"/>
    </resultMap>


    <select id="selectFundAdmitMainPage" resultMap="fundAdmitMainResultMap">
        select * from TB_FUND_ADMIT_MAIN where is_deleted = 0
    </select>

</mapper>
