<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.git.modules.clm.credit.mapper.TbCrdSuretyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="tbCrdSuretyResultMap" type="org.git.modules.clm.credit.entity.TbCrdSurety">
        <id column="SURETY_ID" property="suretyId"/>
        <result column="CRD_DETAIL_PRD" property="crdDetailPrd"/>
        <result column="CRD_DETAIL_NUM" property="crdDetailNum"/>
        <result column="PLEDGE_NUM" property="pledgeNum"/>
        <result column="CUSTOMER_NUM" property="customerNum"/>
        <result column="GUARANTEE_TYPE" property="guaranteeType"/>
        <result column="PLEDGE_TYPE" property="pledgeType"/>
        <result column="PLEDGE_NAME" property="pledgeName"/>
        <result column="CURRENCY_CD" property="currencyCd"/>
        <result column="EXCHANGE_RETE" property="exchangeRete"/>
        <result column="AMT_ASSES" property="amtAsses"/>
        <result column="AMT_ACTUAL" property="amtActual"/>
        <result column="AMT_USED" property="amtUsed"/>
        <result column="AMT_AVI" property="amtAvi"/>
        <result column="PLEDGE_RATE" property="pledgeRate"/>
        <result column="PLEDGE_STAUS" property="pledgeStaus"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="DELETE_FLAG" property="deleteFlag"/>
        <result column="USER_NUM" property="userNum"/>
        <result column="ORG_NUM" property="orgNum"/>
        <result column="TRAN_DATE" property="tranDate"/>
        <result column="TRAN_SYSTEM" property="tranSystem"/>
    </resultMap>


    <select id="selectTbCrdSuretyPage" resultMap="tbCrdSuretyResultMap">
        select * from TB_CRD_SURETY where is_deleted = 0
    </select>

</mapper>
